* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: #faf9f9;
  color: #222;
  font-weight: 300;
  font-style: normal;
}

.main {
  display: flex;
  margin-top: 15px;
  margin-left: 90px;
}

.model {
  display: flex;
  width: 39%;
  margin-right: 20px;
  margin-bottom: 45px;
}

.value {
  display: flex;
}

.value p {
  margin-top: 3px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 17px;
  color: #a9a9a9;
}

.choice {
  color: #a9a9a9;
  margin-top: 15px;
}

.number {
  display: flex;
  margin-top: 5px;
}
.size {
  border: 1px solid #ddd;
  margin: 5px;
  padding: 7px 10px;
  font-weight: bold;
  font-size: 19px;
  border-radius: 5px;
  cursor: pointer;
}
.dsc h3 {
  margin-top: 13px;
  margin-bottom: 9px;
}
.button {
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 12px 90px;
  border: none;
  border-radius: 9px;
  letter-spacing: 1px;
  transition: all 300ms ease;
  margin-top: 20px;
  box-shadow: 0 0 1em black;
  cursor: pointer;
}
.button p {
  font-size: 15px;
}

@media (max-width: 415px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .main {
    flex-direction: column;
    margin: 17px;
    font-size: 15px;
  }
  .textf {
    margin-left: 0px;
    padding-left: 0px;
    border: 0px;
  }
  .model {
    width: 95%;
    margin-left: 0px;
  }
  .button p {
    font-size: 9px;
  }
  .detalhe h2 {
    font-size: 10px;
  }
}
@media (max-width: 800px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .main {
    flex-direction: column;
    margin: 17px;
    font-size: 25px;
  }
  .textf {
    margin-left: 0px;
    padding-left: 0px;
    border: 0px;
  }
  .model {
    width: 95%;
    margin-left: 0px;
  }
  .button p {
    font-size: 17px;
  }
  .detalhe h2 {
    font-size: 10px;
  }
}
